[submodule "tools/coveralls"]
	path = tools/coveralls
	url = https://github.com/mbits-libs/coveralls.git
[submodule "tools/testing"]
	path = tools/testing
	url = https://github.com/mbits-libs/testing.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/mbits-libs/json.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/mzdun/date.git
[submodule "external/libarch"]
	path = external/libarch
	url = https://github.com/mbits-libs/libarch.git
