{{#breadcrumbs}}
<div class="breadcrumbs"> 
    {{#is-root}}{{{octicons.repo}}} <span class="breadcrumbs-leaf">{{heading.display}}</span>{{/is-root}}
    {{^is-root}}
    {{> _icon}}
    <nav>
        <ol>
            <li class="breadcrumbs-root breadcrumbs-item"><a href="{{heading.href}}">{{heading.display}}</a></li>
            {{#nav}}
            <li class="breadcrumbs-item"><span class="text">/</span><a href="{{href}}">{{display}}</a></li>
            {{/nav}}
            <li><span class="text">/</span><span class="breadcrumbs-leaf">{{leaf}}</span></li>
            {{#has-copy-path}}
            <li><button class="copy" data-path="{{copy-path}}">
                <div class="pos">
                    <span class="copy-icon ready">{{{octicons.copy}}}</span>
                    <span class="copy-icon ok">{{{octicons.check}}}</span>
                    <span class="copy-icon failed">{{{octicons.x}}}</span>
                </div>
            </button></li>
            {{/has-copy-path}}
        </ol>
    </nav>
    {{/is-root}}
</div>
{{/breadcrumbs}}
