<tr>
    <td><span class="label {{class-name}} priority-high">{{> stats-table/_label}}</span></td>
{{# cells}}
    <td class="{{value-classes}}">{{value}}</td><td class="{{change-classes}}">{{change}}</td>
{{/ cells}}
</tr>
